
UnityProject/UserSettings/Layouts/default-2021.dwlt
UnityProject/UserSettings/Search.settings

#Luban
Tools/Luban/
Tools/Luban.ClientServer/
Configs/.cache.meta
GenerateDatas/

#FileServer
Tools/FileServer/AssetRoot

UnityProject/ProjectSettings/CommonBurstAotSettings.json
UnityProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json
/Tools/GameEventSourceGenerator/SourceGenerator/obj
/Windows
/Android
/UnityProject/.vsconfig
/log.txt
/UnityProject/UserSettings/Layouts/default-2022.dwlt
/UnityProject/UserSettings/Search.index
/BuildCLI/build.log
/UnityProject/Assets/AssetRaw/DLL
/UnityProject/Assets/AssetRaw/Configs/bytes
